name: Build Maven Project

on:
  push:
    branches: [ main, '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build-maven:
    name: Build Maven Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Java & Maven
        uses: vikram301093/java-maven-action@v1.0.0