name: Build Maven Project

on:
  push:
    branches: [ main, '*' ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: hub.docker.com
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-maven:
    name: Build Maven Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #- name: Install Java & Maven
      #  uses: vikram301093/java-maven-action@v1.0.0

      #- name: Run application
      #  run: mvn clean install javadoc:jar source:jar --no-snapshot-updates -T 4 -DskipTests -Dmaven.repo.local=${{ github.workspace }}/.m2/repository
      #  shell: bash

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: ${{ env.REGISTRY }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
         context: .
         push: true
         tags: ${{ steps.meta.outputs.tags }}