name: Build Maven Project

on:
  push:
    branches: [ main, '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build-maven:
    name: Build Maven Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Java & Maven
        uses: vikram301093/java-maven-action@v1.0.0

      - name: Run application
        run: mvn clean install javadoc:jar source:jar --no-snapshot-updates -T 4 -DskipTests -Dmaven.repo.local=${{ github.workspace }}/.m2/repository
        shell: bash